h1 { font-size: 2em;
	color: #152153;
	text-align: center;
	padding-top: 20px;
    }
li  {
	display: inline-block;
	padding: 25px;
    color: #827E78;
    } 
ul { text-align: center;} 

.fondo {

    background-image: url(../img/dance_7.jpg);
    background-repeat: no-repeat;
     max-width: 100%;
    padding: 10%;
   
    } 
.container-fuid{ 
	background-image: url(../img/tile2.png);
	margin: auto; 
    
	}  
.col-4 { 
	 color:#989075;
	 width: 200px;
	 height: 200px;
     display: inline-block;
     padding: 40px;
     padding-left: 130px;

     }
.linea-central{ border-bottom: 2px solid #989075;}     

 h3 { text-align: center;
      color: #989075;} 



 .uno { 
 	width: 200px;
 	height: 200px;
 	padding-left: 20px;
      } 
h4{ 
	text-align: center;
	font-size: 30px;
}

.fondouno { 
	background-image: url(../img/cubes.png);
     margin: auto;
     padding: 50px;}

h6 { text-align: center;
     font-size: 3em;
     color: #5D5B5B;
     padding-bottom: 60px;} 


.formulario {
    padding-top: 50px;
    padding-left: 100px;
   
}

.h3{ font-size: 30px;
    padding-bottom: 10px;}   

.enviar{ 
    font-size: 20px;
    border-radius: 3px;
    border: 2px solid #232960;
    background-color: #232960;
    width: 277px;
    height: 40px;
    color: #9795A7;
    text-align: center;
    padding: 0px;
    margin: auto;
   }
input {  
    border: 1px solid #525355;
    padding: 10px;
    } 

.mensaje{ 
    height: 50px;
} 

.fin{ 
    padding: 20px;
    background-color: #161A4B;
    color: #929598;}     
.sho{
	
 }





